* {
  margin: 0;
}

img {
  height: 30px;
  margin: 10px 20px;
}

/*#button {
  background: red;
  width: 200px;
  height: 200px;
  border-radius: 300px;
  margin: 0 auto;
  font-size: 25px !important;
}*/

/*img:last-child {
  margin-right: 0;
}*/

@font-face
{
  font-family:cpmonoplain;
  font-weight:normal;
  font-style:normal;
  src:url(fonts/cpmono-cc_bold-webfont.eot);
  src:url(fonts/cpmono-cc_bold-webfont.eot?#iefix) format("embedded-opentype"),url(fonts/cpmono-cc_bold-webfont.woff) format("woff"),url(fonts/cpmono-cc_bold-webfont.ttf) format("truetype"),url(fonts/cpmono-cc_bold-webfont.svg#cpmonoplain) format("svg")
}

body {
  -webkit-font-smoothing: antialiased;
  /*font: 40px 'Lato', sans-serif;*/
  color: #FFF;
  background: #1A212A;
  font-family: 'Lato';

}
.container {
    margin: 40px auto 0;
    text-align: center;
}
#content {

}
h2{
  position: relative;;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
}
h2:before{
  content: '\2192';
  position: absolute;
  left: -20px;
  font-size: 0.9em;
}
a {
    color: #be2221;
    text-decoration: none;
}

.callback,
.simple {
  font-size: 20px;
  background: #27ae60;
  padding: 0.5em 0.7em;
  color: #ecf0f1;
  margin-bottom: 50px;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}
.callback{
  cursor: pointer;
}
.ended {
  background: #c0392b;
}
.styled div {
  display: inline-block;
  margin-left: 20px;
  font-size: 120px;
  font-weight: 100;
  line-height: 1;
  text-align: right;
}
/* IE7 inline-block hack */
*+html .styled div{
  display: inline;
  zoom: 1;
}
.styled div:first-child {
  margin-left: 0;
}
h1 {
  color: #F4F450;
  font-size: 80px;
  text-transform: uppercase;
}
h3 {
  font-size: 28px;
  font-family: cpmono;
}
.styled div span {
  font-family: cpmono;
  display: block;
  border-top: 1px solid #F4F450;
  padding-top: 8px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  color: #F4F450;
}

#content {
  margin: 35px 0;
  min-height: 200px;
  /*padding: 50px 0;*/
}

#button {
  color: white;
  cursor: pointer;
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px;
}
#countdown {
  display: none;
}
body{
  background:url("barcelona.jpg?1") bottom center fixed #545454;
  background-size:cover;
}